
project_id = "tbhqwnlzjsmuhqufwzhb"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324

[storage]
enabled = true

[auth]
enabled = true

[functions]
[functions.send-service-otp]
verify_jwt = true

[functions.verify-service-otp]
verify_jwt = true
